* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.logo{
width: 40px;
}

.force-style{
position: absolute;
right: 30px;
top: 25px;
}
.button-force{
position: absolute;
right: 1px;
top: 6px;
}

.skills{

  margin: -20px;
 
}

.list{
  padding-top: 10%;
  font-size: 1em;
}